body {
    margin: 0;
    background-image: url(../asset-login-register/bg-buat-akun.jpeg);
    background-attachment: fixed;
    background-size: cover;
}

@font-face {
    font-family: 'SDDystopianDemo';
    src: url('font/Sddystopiandemo-GO7xa.otf') format('opentype');
}
@font-face {
    font-family: 'MouldyCheese';
    src: url('font/MouldyCheeseRegular-WyMWG.ttf') format('truetype');
}
@font-face {
    font-family: 'SunnySpells';
    src: url('font/SunnySpellsBasicRegular-Yz1Wv.ttf') format('trutype');
}
@font-face {
    font-family: 'Alegreya';
    src: url('font/Alegreya-VariableFont_wght.ttf') format('trutype');
}

.icon {
    position: absolute;
    width: 60px;
    top: 3%;
    left: 48%;
    z-index: 1;
}

.container {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 12px;
    color: #fff;
    border-style: solid;
    border-color: #bcbcbc;
    border-radius: 20px;
    background-color: rgba(95, 95, 95, 0.5);
}

.container h2 {
    font-family: 'SunnySpells';
    color: #10B9D8;
}

.container span {
    margin: 0;
    font-size: 8px;
    margin-left: 67px;
    color: #FFC107;
    font-weight: lighter;
    font-style: italic;
}

.container form{
    text-align: left;
    font-family: 'MouldyCheese';
}

.container p {
    font-weight: bold;
}

.container a {
    color: #FFC107;
    text-decoration: none;
}

.container input[type="text"], input[type="password"] {
    width: 407px;
    height: 30px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #BCBEC0;
    background-color: #0A334280;
}

.container input[type="submit"] {
    color: #fff;
    font-size: 20px;
    border-style: none;
    border-radius: 10px;
    background: linear-gradient(to right, #10B9D8, #086172);
    font-family: Abril Fatface;
    width: 228px;
    padding: 7px;
    cursor: pointer;
}

.login-section {
    margin-left: 42px;
}

.login-section input[type="submit"]{
    margin-left: 94px;
}

.hidden{
    display: none;
}

.success {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0D2132;
    border: 2px solid #fff;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 407px;
    height: 207px;
    margin-bottom: 10px;
    z-index: 1;
}

.success h1{
    color: #fff;
    font-family: 'Alegreya';
    font-size: 50px;
    padding-top: 15px;
    margin: 0;
}

.success button{
    font-size: 16px;
    font-family: 'Alegreya';
    font-weight: bold;
    color: #0D2132;
    background-color: #25FF0C;
    box-shadow: 0 4px 4px #084101;
    border-style: none;
    border-radius: 20px;
    padding: 7px 18px;
}