body {
    margin: 0;
    background-image: url(../asset-login-register/bg-landing-page.jpeg);
    background-attachment: fixed;
    background-size: cover;
}

@font-face {
    font-family: 'SDDystopianDemo';
    src: url('font/Sddystopiandemo-GO7xa.otf') format('opentype');
}

@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins-Regular.ttf') format('truetype');
}

.container {
    position: absolute;
    text-align: center;
    top: 12%;
    left: 8%;
}

img {
    width: 250px;
}

button {
    font-size: 20px;
    font-family: 'Poppins';
    color: #fff;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 30px #06080F;
    background-color: #05254D;
}

button:hover {
    cursor: pointer;
    background-color: #041b38;
}

.p1 {
    font-family: 'SDDystopianDemo';
    font-size: 40px;
    color: #fff;
}

.p2 {
    font-family: 'SDDystopianDemo';
    font-size: 54px;
    color: #07102E;
}

.masuk {
    margin-right: 100px;
}