body {
    margin: 0;
    background-image: url(asset-login-register/bg-buat-akun.jpeg);
    background-attachment: fixed;
    background-size: cover;
}

@font-face {
    font-family: 'SDDystopianDemo';
    src: url('font/Sddystopiandemo-GO7xa.otf') format('opentype');
}

@font-face {
    font-family: 'MouldyCheese';
    src: url('font/MouldyCheeseRegular-WyMWG.ttf') format('truetype');
}

@font-face {
    font-family: 'SunnySpells';
    src: url('font/SunnySpellsBasicRegular-Yz1Wv.ttf') format('trutype');
}

.icon {
    position: absolute;
    width: 60px;
    top: 6%;
    left: 48.5%;
    z-index: 1;
}

.container {
    position: absolute;
    text-align: center;
    top: 12%;
    left: 30%;
    width: 500px;
    padding: 12px;
    color: #fff;
    border-style: solid;
    border-color: #bcbcbc;
    border-radius: 20px;
    background-color: rgba(95, 95, 95, 0.5);
}

.container h2 {
    font-family: 'SunnySpells';
    color: #10B9D8;
}

.container note {
    margin: 0;
    font-size: 8px;
    margin-left: 67px;
    color: #FFC107;
    font-weight: lighter;
    font-style: italic;
}

.container form{
    text-align: left;
    font-family: 'MouldyCheese';
}

.container p {
    font-weight: bold;
}

.container a {
    color: #FFC107;
    text-decoration: none;
}

.container input[type="text"], input[type="password"] {
    width: 407px;
    height: 30px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #BCBEC0;
    background-color: #0A334280;
}

.container input[type="submit"] {
    color: #fff;
    font-size: 20px;
    border-style: none;
    border-radius: 10px;
    background: linear-gradient(to right, #10B9D8, #086172);
    font-family: Abril Fatface;
    width: 228px;
    padding: 7px;
    cursor: pointer;
}

.login-section {
    margin-left: 42px;
}

.login-section input[type="submit"]{
    margin-left: 44px;
}

.alert {
    margin-top: -15px;
    margin-bottom: 10px;
}

font {
    margin: 0;
    color: red;
    font-size: 10px;
}

.success {
    background-color: #4bb543;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    width: 407px;
    margin-bottom: 10px;
}